table {
	margin:30px;
	border-collapse: collapse;
    table-layout: fixed;
    width: 460px;
	height:600px;
}
body{
	background-size: 60%;
}

@font-face{
	font-family: Bubble;
	src: url('BubbleBobble.ttf');
	font-weight: bold;}

.content{
	opacity:0.7;
	background-color: #ffffff; 
}

.heading{
	font-family: Bubble;
	padding: 2px;
	text-align: center;
	font-size: 80px;
	height:3px;
}

.subheading{
	font-family: Bubble;
	padding: 2px;
	text-align: center;
	font-size: 60px;
	height:3px;
}

td{
	padding: 0px;
	border: 2px #666 solid;
	text-align: center;
	font-size: 50px;
	font-style: bold;
	font-family: Bubble;

}

